QMainWindow#MainWindow {
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(40, 40, 40);
}

QMessageBox{
    background-color: rgba(45, 45, 45, 128);
    border: 2px solid rgba(50, 50, 50, 128);
    color: white;
}

QMessageBox>QLabel{
    color: white
}
